* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: #666666;
	
	background-color: #fff;
}
a {
	text-decoration: none;
}
h1, h2 {
	font-family: "Playfair Display", "Georgia", serif;
}
h1 {
	margin: 90px auto 25px;
	
	font-size: 32px;
	font-weight: 900;
	text-transform: capitalize;
}
h1::after {
	content: "";
	display: block;
	width: 52px;
	margin: 31px auto 0;
	border-bottom: 1px #00e0d0 solid;
}
h2 {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h3 {
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
}
section,
footer{
	background: top center fixed no-repeat;
	background-size: cover;
}
.container, 
.main-navigation {
	width: 960px;
	padding: 10px;
	margin: 0 auto;
}
.container {
	padding-top: 70px;
	padding-bottom: 69px;
}
.container.wide{
	width: 100%;
	max-width: 1600px;
	padding-right: 0;
	padding-left: 0;
}
.btn {
	display: inline-block;
	padding: 10px 13px 8px;
		
	border: 1px #00e0d0 solid;
	border-radius: 2px;
	
	font-family: "Hammersmith One", "Arial", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #00e0d0;
	background: none;
}
.btn:hover,
.btn:active {
	color: #46a3cc;
	border: 1px #46a3cc solid;
}
.section-intro{
	letter-spacing: 1px;
}
.section-intro::after{
	content: "";
	display: block;
	width: 52px;
	margin: 16px auto;
	border-bottom: 1px #c6c4c9 solid;
}


/*------Шапка и приветствие-------*/

.welcome {
	text-align: center;
	color: #fff;
	background-color: #403268;
	background-image: url("header-bg.jpg");
}
.welcome p {
	width: 780px;
	margin: 0 auto 44px;
	padding: 0 10px;
	
	line-height: 24px;
}
.main-navigation {
	display: flex;
	justify-content: space-between;
	
	padding: 15px 15px 0 35px;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 900;
	text-transform: uppercase;
}
.main-navigation li {
	display: inline-block;
	margin: 15px 10px;
}
.main-navigation a {
	color: #fff;
	letter-spacing: 1px;
}
.main-navigation a:hover, 
.main-navigation a:active {
	color: #00e0d0;
}
.slider-nav {
	margin-top: 115px;
}
.slider-dot {
	width: 10px;
	height: 10px;
	margin-right: 1px;
	
	border: 1px white solid;
	border-radius: 50%;
	
	background-color: rgba(0,0,0,0);
	
	cursor: pointer;
}
.slider-dot:hover{
	border: 2px #46a3cc solid;
}
.slider-dot-active {
	background-color: #00e0d0;
	border-color: #00e0d0;
}


/*------------О нас (история и видеоблок)-------------*/

.our-story>.container {
	display: flex;
	background-color: #fff;
}
.our-story h2 {
	margin-bottom: 22px;
	color: #413d4b;
}
.our-story p {
	padding-bottom: 22px;
}
.our-story-logo{
	padding: 0 72px;
}
.our-story-description{
	margin-left: 26px;
	margin-top: -4px;
}
.our-story-description .btn{
	margin-top: 5px;
}
.story-video {
	text-align: center;
	color: #fff;
	background-color: #403268;
	background-image: url("about-bg.jpg");
}
.story-video>.container {
	width: 940px;
	height: 411px;
}
.play-video {
	margin-top: 130px;
	color: #fff;
	background: transparent;
	border: none;
	cursor: pointer;
}
.play-video:hover,
.play-video:active,
.play-video:focus {
	opacity: 0.7;
}
.play-video span {
	display: block;
	margin-top: 30px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 900;
}


/*-----------Услуги------------*/
/*320х250
950х500*/
.expertise {
	background-color: #fff;
	text-align: center;
}
.expertise h3, 
.expertise h2 {
	color: #413d4b;
}
.expertise h2{
	margin-bottom: 9px;
	margin-top: -3px;
}
.expertise h3{
	margin-bottom: 15px;
}
.expertise p{
	font-family: "Playfair Display", "Georgia", serif;
	margin-bottom: 50px;
}
.features-list {
	width: 960px;
	height: 501px;
	overflow: hidden;
	margin-bottom: -4px;
}
.features-list li {
	display: block;
	box-sizing: border-box;
	float: left; /*возможно флексы лучше*/
	width: 321px;
	height: 250px;
	margin-left: -1px;
	margin-top: -1px;
	padding: 114px 30px 35px;
	
	border: 1px solid #ebebeb;
	border-bottom: none;
	border-right: none;
}

.feature-item.webdesign{
	background-image: url("screen-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
}
.feature-item.branding{
	background-image: url("brush-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
}
.feature-item.mobile{
	background-image: url("phone-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
}
.feature-item.seo{
	background-image: url("stats-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
}
.feature-item.gamedev{
	background-image: url("game-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
}
.feature-item.love{
	background-image: url("heart.png");
	background-repeat: no-repeat;
	background-position: center 40px;
}


/*---------Наша команда---------*/

.our-team {
	text-align: center;
	color: #fff;
	background-color: #403268;
	background-image: url("team-bg.jpg");
}
.our-team h2{
	margin-bottom: 9px;
	margin-top: -2px;
}
.our-team .section-intro{
	font-family: "Playfair Display", "Georgia", serif;
	margin-bottom: 38px; /*Может стоит объединить с другим? Там разные отступы, но нужны ли они разными?*/
}
.team-container {
	display: flex;
	margin-bottom: 53px;
}
.team-member {
	margin: 10px;
	width: 220px;
}
.member-photo {
	background: lightgrey;
	height: 228px;
	overflow: hidden;
}
.member-photo img{
	display: block; /*без этого конкретно на картинке появляется серая полоса, которую ничем не убрать*/
	width: 100%;
	height: auto;
}
.member-description {
	height: 80px;
	text-align: center;
	border: 1px #e1e1e1 solid;
}
.team-join{
	margin-bottom: 22px;
	letter-spacing: 1px;
}
.team-member-name{
	margin-top: 15px;
	font-weight: 900;
	text-transform: uppercase;
}
.team-member-position{
	opacity: 0.7;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
}

/*--------Галерея работ---------*/
.our-works-head{
	display: flex;
	justify-content: space-between;
	width: 960px;
	padding: 10px;
	margin: 0 auto 70px;
}
.our-works-head>a{
	padding-right: 9px;
	margin-top: -5px;
	color: #413d4b;
}
.our-works-head>a:hover,
.our-works-head>a:active{
	opacity: 0.7;
}
.our-works-head>a::after{
	content:"";
	background: url("forward-grey.png") no-repeat 0 2px;
    display: inline-block;
    height: 14px;
	width: 10px;
	margin-left: 10px;
}
.our-works {
	background-color: #fff;
}
.our-works h2 {
	margin-top: -5px;
	margin-left: 10px;
	color: #413d4b;
}
.works-gallery{
	display: flex;
	flex-flow: wrap;
	width: 100%;
	justify-content: center;
	margin: 0 /* -340px */ 0 70px;
}
.gallery-item{
	/* width: 267px; */
	flex-basis: 266px;
	flex-grow: 1;
	height: 199px;
	overflow: hidden;
	opacity: 0.6;
}
.gallery-item:hover{
	opacity: 1;
}
.load-more{
	display: block;
	margin: 0 auto 2px;
	cursor: pointer;
}
.gallery-item img{
	/*вписывает потенциально разнокалиберные картинки в одинаковые окошки*/
	width: 100%;
	min-height: 100%;
}
/*-----------Отзывы-------------*/
.testimonials {
	text-align: center;
	color: #fff;
	background-color: #403268;
	background-image: url("testimonials-bg.jpg");
}
.visually-hidden{
	display: none;/*заменить потом на то из лекции*/
}
.testimonials>.container::before{
	content:"“";
	display: inline-block;
	padding-top: 18px;
	font-size: 100px;
	font-family: "Playfair Display", "Georgia", serif;
}
.testimonial{
	width: 780px;
	margin: -16px auto 43px;
	opacity: 0.85;
	font-family: "Playfair Display", "Georgia", serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.025em;
}
.testimonials-client-name{
	font-weight: 900;
	letter-spacing: 0.05em;
}
.testimonials-client-position{
	margin-bottom: 40px;
	opacity: 0.7;
	font-size: 13px;
}
.testimonials-client-photo{
	width: 46px;
	height: auto;
	margin: 0 5px;
	border-radius: 50%;
}
.testimonials-current{
	width: 70px;
	height: auto;
}
.testimonials-nav > *{
	vertical-align: middle;
}
.testimonials-prev,
.testimonials-next{
	margin: 23px;
	background: none;
	border:none;
	cursor: pointer;
}
.testimonials-prev:hover,
.testimonials-next:hover{
	opacity: 0.7;
}

/*-------------Контактная форма-------------*/

.contact-clients {
	background-color: #fff;
}
.contact-clients h2{
	margin-top: -4px;
	color: #413d4b;
}
.contact-clients .container{
	display: flex;
	justify-content: space-between;
	margin-bottom: -19px;
}
.contact-us{
	width: 465px;
}
.contact-us h2{
	margin-bottom: 34px;
	margin-left: 10px;
}
.contact-form input:not(:last-of-type),
.contact-form textarea{
	display: block;
	width: 418px;
	
	outline: none;
	border: 1px #e5e5e5 solid;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #a09ea5;
}
.contact-form input:not(:last-of-type){
	margin-bottom: 26px;
	margin-left: 10px;
	padding: 12px 20px;
}
.contact-form input:not(:last-of-type):focus,
.contact-form textarea:focus{
	outline: 1px #00e0d0 solid;
}
.contact-form textarea{
	margin-bottom: 26px;
	margin-left: 10px;
	padding: 12px 20px 3px;
}

#form-submit{
	width: 120px;
	height: 40px;
	margin-left: 10px;

	cursor: pointer;
}

/*-------...и клиенты---------*/

.our-clients {
	width: 380px;
	margin-right: 10px;
}
.our-clients h2{
	margin-bottom: 45px;
}
.clients-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.clients-list li{
	
}
.client-name {
	width: 160px;
	margin-bottom: 40px;
	text-align: center;
}




/*---------Подвал----------*/

.main-footer {
	color: #fff;
	background-color: #403268;
	background-image: url("footer-bg.jpg");
}
.main-footer .container{
	padding-bottom: 65px;;
}
.main-footer a{
	color: #fff;
}
.main-footer a:hover, 
.main-footer a:active {
	color: #00e0d0;
}
.main-footer h3{
	margin-bottom: 35px;
	margin-top: 15px;
}
.footer-info,
.footer-social ul,
.footer-bottom,
.legal-info{
	display: flex;
}
.footer-info,
.footer-bottom,
.legal-info{
	justify-content: space-between;
}
.footer-logo{
	margin-bottom: 15px;
}
.footer-info{
	margin-bottom: 50px;
	padding-left: 10px;
}
.footer-info p{
	margin-bottom: 9px;
	line-height: 26px;
}
.footer-about {
	width: 298px;
	margin-right: 20px;
}
.footer-contacts {
	width: 310px;
	margin-right: 20px;
}
.subscribe {
	display: flex;
	margin-top: -10px;
	margin-bottom: 16px;
}
.subscribe input[type="email"]{
	width: 180px;
	padding: 15px;
	
	color: #fff;
	background: none;
	border: 1px rgba(255,255,255, 0.5) solid;
}
.subscribe input[type="submit"]{
	width: 70px;
	height: 48px;
	margin-left: 8px;
	background: rgba(255,255,255, 0.5) url("plane-icon.png") no-repeat center center;
	border: none;
	cursor: pointer;
}
.subscribe input[type="submit"]:hover{
	background-color: rgba(255,255,255, 0.9);
}
.footer-address{
	padding-left: 30px;
	background: url("map-point.png") 0px 0px no-repeat;
}
.footer-phone{
	padding-left: 30px;
	background: url("phone2-icon.png") 0px 0px no-repeat;
}
.footer-bottom{
	margin: 0 10px;
}
.social-icon {
	margin-right: 8px;
}
.social-icon:hover {
	opacity: 0.7;
}
.legal-info{
	width: 310px;
	font-weight: normal;
	text-transform: uppercase;
}
