* {
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #f1f1f1;
	/*
	Шрифты специально с засечками, чтобы было видно, если где упадет нужный.
	Не забыть заменить на ариал и без засечек!
	*/
	font-family: 'Roboto', 'Georgia', serif;
	font-size: 14px;
	padding: 15px; /*Чтобы при скачках размеров было красиво*/
}
main {
	max-width: 1400px;
	margin: 0 auto;
}
/*возможно этот паддинг нужно сделать отдельной строкой*/
section, footer {
	margin: 0 8px 16px;
	padding: 30px;

	/* border-radius: 8px; */
	box-shadow: 0 0 10px #a1a1a1;
}
section{
	background-color: #fff;
}


footer {
/*Убедиться, что цвет фона совпадает с первоначальным цветом темного текста*/
	background: #1e1e1e;
	color: white; /*временно*/
}

/*------------Временные стили и стили заглушек--------*/
.about-badge {
	padding: 0;
}
.badge-description {
	padding: 30px;
	margin: 0 auto;
	text-align: center; 
}
.test-bg {
	width: 100%;
	height: 325px;
	
	background-color: grey;
}
.test-photo {
	width: 150px;
	height: 150px;
	margin: 10px auto;
	border: 3px white solid;
	border-radius: 50%;
	background-color: darkcyan;
}
.code-skills, .languages {
	border: 1px dotted grey;
}
.sidebar {
	width: 33.3%;
	float: left;
}
.main-info {
	width: 66.7%;
	float: left;
}
.portfolio-works, .skills{
	display: flex;
	flex-flow: row wrap;
}
.skills > div {
	margin-right: 15px;
	flex: 1;
	justify-content: space-between;
}
.portfolio-works > img {
	width: 265px;
	height: 475px;
	margin: 8px;
	flex: 1 1;
	border: 1px solid lightgray;
}
.skillbox {
	height: 10px;
	background: lightgray;
	border-radius: 10px;
}
.html-filled {
	width: 80%;
	background: darkcyan;
}